# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
numpy 
librosa
pyyaml
fastapi
tqdm
pysbd
mutagen
pandas
matplotlib
anyascii
inflect
bangla
bnnumerizer
bnunicodenormalizer
gruut
jamo
jieba
pypinyin
transformers==4.46.1
einops
hangul-romanize
spacy
uvicorn
cutlet
coqpit
trainer
unidic-lite 
onnxruntime
faster-whisper
langchain
langchain_ollama
torchaudio